<body>
	<div
		style="background: #fafafa; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 1rem 0; font-family: auto;">
		<div style="width: 25em;
					max-width: 100%;
					background: white;
					box-shadow: 0 0 1em -0.5em rgba(0, 0, 0, .12);
					">
			<div
				style="display: flex; flex-direction: column; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, .12); ">
				<h3 style="opacity: .8; font-size: 1.5em; font-weight: 300; margin: 1em;">FDPINK</h3>
				<p style="opacity: .6; margin: 0 0 1em 0;">正在找回密码</p>
			</div>
			<div style="display: flex; flex-direction: column; align-items: center;">
				<h3 style="opacity: .8; font-size: 2.1em; font-weight: 300; margin: .5em 0 0 0;">{{code}}</h3>
				<p style="opacity: .6; margin: 1em;">请用此验证码进行验证。</p>
				<p style="opacity: .6; margin: 0 1em 1.5em 1em;">验证通过后，即可重置密码。</p>
			</div>
		</div>
		<div
			style="display: flex; flex-direction: column; align-items: center; font-size: .8em; opacity: .8; border-bottom: 1px solid rgba(0, 0, 0, .12); padding: 1em;">
			<p style="margin: 1em 1em 0 1em;">您收到此邮件是因为您（或其他人）使用该邮件注册的<a href="https://fdpink.com"
					style="color: rgba(0, 0, 0, .6);">FDPINK</a>账号正在找回密码。如果不是您本人操作，请忽略此邮件。</p>
			<p style="margin: 1em;">此邮件的收件人是{{receiver}}</p>
		</div>
	</div>
</body>

</html>